<html>


<body id="main">



<div id="txt"></div>

<%= javascript_include_tag "size" %>



<%= stylesheet_link_tag "zombies" %>

<link rel="stylesheet" type="text/css" media="screen and (max-width: 640px)" href="/assets/mobile.css?body=1">




<h1 style="text-align: center; font-size: 36px;"  id="t1"><span style="font-size:36px;"><span style="font-family:times new roman,times,serif;"><font color="#c5c3c3">Looking For a Broker?</font></span></span></h1>

<h1 style="text-align: center; font-size: 36px;">
<span id="t2">Trust only the Best - Confidence is Icapital</span>
</h1>

<div class=topmenue>
</div>

<%= image_tag "R.jpg", :id => "IMG_1" %>


</body>
</html>
